@font-face {
    font-family: neu;
    src: url(./TT.ttf);
}
@font-face {
    font-family: neu;
    src: url(./all2.otf);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: neu;
 scroll-behavior: smooth;
}
body{
 scroll-behavior: smooth;
}

#upload{
 display: none;
}


form{
padding: 40px;
}
input{
width: 80%; 
padding: 0 30px;
height: 5vh;
outline: none;
margin: 5px;
border-radius: 2px;
}


#LabelUpload{

 padding: 10px;
 border-radius: 10px;
 background-color: #a5ff80;
}
